body {
    font-family: sans-serif, Arial;
    margin: 50px;
}

h1 {
    color:crimson;
    text-align:center
}

#nereaisawesome {
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px;
}

img{
    border: 2px solid crimson
}

ol {
    text-align: justify;
}

#cpinfo {
    margin-left: 413px;
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 50px;
    background-color: white;
    height: 200px
}

th, td{
    border: 1px solid black;
    padding: 5px
}

th {
    background-color:crimson;
}

#photoshoot{
    margin-left: 826px;
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 550px;
}

#yourname{
    margin-left: 826px;
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px
}

#links{
    position: absolute;
    top: 879px;
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px; 
}