body {
    font-family: sans-serif, Arial;
    margin: 50px
}

h1 {
    color:rgb(239, 205, 250);
    text-align:center
}

h2 {
    color:rgb(110, 104, 148);
    text-align:center
}

h3 {
    color:rgb(255, 255, 255);
    text-align:center
}

p {
    color:rgb(0, 0, 0);
    left: 100;
}

#INTRODUCTION {
    padding: 5px;
    border: 3px dotted rgb(239, 205, 250);
    text-align: center;
    background-color: rgb(110, 104, 148);
    width: 800px;
    height: 200px;
}

#CHARACTER {
    padding: 5px;
    border: 3px solid rgb(110, 104, 148);
    text-align: center;
    background-color: rgb(239, 205, 250);
    width: 800px;
    height: 575px;
}

img{
    border: 2px solid rgb(110, 104, 148)
}
