body {
    font-family: sans-serif, Arial;
    margin: 50px
}

h1 {
    color:crimson;
    text-align:center
}

#nereaisawesome {
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px;
}

#cpinfo {
    padding: 5px;
    border: 3px dotted crimson;
    text-align: center;
    background-color: salmon;
    width: 400px;
    height: 400px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 50px
}

th, td{
    border: 1px solid black;
    padding: 5px
}

th {
    background-color:crimson;
}